//
// Responsive: Large desktop and up
// --------------------------------------------------

@media (min-width: 1860px) {

  // Fixed grid
  #grid > .core(@gridColumnWidth1860, @gridGutterWidth1860);

  // Fluid grid
  #grid > .fluid(@fluidGridColumnWidth1860, @fluidGridGutterWidth1860);

  // Input grid
  #grid > .input(@gridColumnWidth1860, @gridGutterWidth1860);

  // Thumbnails
  .thumbnails {
    margin-left: -@gridGutterWidth1860;
  }
  .thumbnails > li {
    margin-left: @gridGutterWidth1860;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }

}
