//
// Responsive: Large desktop and up
// --------------------------------------------------

@media (min-width: 1560px) and (max-width: 1899px) {

  // Fixed grid
  #grid > .core(@gridColumnWidth1560, @gridGutterWidth1560);

  // Fluid grid
  #grid > .fluid(@fluidGridColumnWidth1560, @fluidGridGutterWidth1560);

  // Input grid
  #grid > .input(@gridColumnWidth1560, @gridGutterWidth1560);

  // Thumbnails
  .thumbnails {
    margin-left: -@gridGutterWidth1560;
  }
  .thumbnails > li {
    margin-left: @gridGutterWidth1560;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }

}
