<BOUCLE_doc_rubriques(DOCUMENTS){id_rubrique}{par titre}{titre!='!credit'}>
<div class="document">
	<div class="#EDIT{fichier} logo">[(#FICHIER|image_reduire{100})]</div>
	<div class="contexte">
		<div class="#EDIT{titre} titre">[(#TITRE|supprimer_numero)]</div>
		[<div class="#EDIT{descriptif} descriptif">(#DESCRIPTIF)</div>]
		[<div class="#EDIT{credits} descriptif">(#CREDITS)</div>]
	</div>
</div>
</BOUCLE_doc_rubriques>

<BOUCLE_doc_articles(DOCUMENTS){articles.id_rubrique}{extension IN jpg,png,gif}{par titre}>
<div class="document">
	<div class="#EDIT{fichier} logo">[(#FICHIER|image_reduire{100})]</div>
	<div class="contexte">
		<div class="#EDIT{titre} titre">[(#TITRE|supprimer_numero)]</div>
		[<div class="#EDIT{descriptif} descriptif">(#DESCRIPTIF)</div>]
		[<div class="#EDIT{credits} descriptif">(#CREDITS)</div>]
	</div>
</div>		
</BOUCLE_doc_articles>

<BOUCLE_son_articles(DOCUMENTS){articles.id_rubrique}{extension !IN jpg,png,gif}{par titre}>
<div class="document">
	<div class="#EDIT{fichier} logo">[(#LOGO_DOCUMENT)]</div>
	<div class="contexte">
		<div class="#EDIT{titre} titre">[(#TITRE|supprimer_numero)]</div>
		[<div class="#EDIT{descriptif} descriptif">(#DESCRIPTIF)</div>]
		[<div class="#EDIT{credits} descriptif">(#CREDITS)</div>]
	</div>
</div>		
</BOUCLE_son_articles>
