<body>
	<div class="page">
		<div class="container">
			<div class="header" id="header">
				<INCLURE{fond=header/#ENV{type-page},env} />
			</div>
			[<div class="navbar navbar-responsive" id="nav">
				(#INCLURE{fond=inclure/nav,env}|navbar_responsive)
			</div>]

			<div class="row">
				<div class="content span12" id="content">
					<INCLURE{fond=breadcrumb/#ENV{type-page},env} />
					<INCLURE{fond=content/#ENV{type-page},env} />
				</div>
			</div>

		</div>
	</div>
</body>
