
#header { padding-top:1em; }




/* décoration des tableaux */
table { width:100%; margin:2em 0;}
table td, table th { padding: 0.3em 0.4em; }
table tr { border-bottom:  1px dotted #ccc; }
table tr:last-child { border-bottom:  1px solid #cfcfcf; }
table caption { border-bottom:  1px solid #cfcfcf; padding:.2em; }
table thead tr { border-bottom:  1px solid #cfcfcf; background:#f6f6f6; }

/* [spip] décoration des todo */
table.todolist th { text-align: left; }
table.todolist td, table.todolist th {
    padding: 0.3em 0.4em;
}
table.todolist td.rang {
    opacity: 1; color:#aaa;
}
table.todolist tbody > tr:hover > td, table.spip tbody > tr:hover > th {
    background-color: #f5f5f5;
}
table.todolist td.statut, table.todolist th.statut { width:20px; text-align:center; }
table.todolist td.rang, table.todolist th.rang { width:30px;}

table.todolist tr.termine td del { text-decoration:none; }
table.todolist tr.alerte { background-color: #FFEDED; border-left: 2px solid #FF9393; }
table.todolist tr.alerte .titre span.majeure { background-color: transparent; color:#333; }
table.todolist tbody > tr.alerte:hover td,
table.todolist tbody > tr.alerte:hover th { background-color: #FFC8C8; }

table.todolist tr.inconnu { background-color: #FFF5D0; border-left: 2px solid #FFCB00; }
table.todolist tr.inconnu .titre span.majeure { background-color: transparent; color:#333; }
table.todolist tbody > tr.inconnu:hover td,
table.todolist tbody > tr.inconnu:hover th { background-color: #FFE681; }
