<section>
	<header class="cartouche hide">
		<h1>#NOM_SITE_SPIP</h1>
	</header>

	<div class="main">
		[<div id="descriptif_site_spip">(#DESCRIPTIF_SITE_SPIP)</div>]

		<div class="liste long articles">
		<INCLURE{fond=liste/articles-resume,env,ajax} />
		</div>
	</div>

</section>
